/*//////////////*/
/* Base styles  */
/*/////////////*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
body{
    background: rgb(232, 185, 171);
}
/*//////////////*/
/*    Layout   */
/*/////////////*/
h1,
h2,
h3,
h4,
h5{
    text-align: center;
}

input, button{
    display: block;
    margin: 0 auto;
    width: 50%;
    padding: 1rem;
    border: none;
}

button{
     width: 20%;
     margin-top: 1rem;
}